In [1]:
import numpy as np
import pandas as pd

In [34]:
arabic = {'Chapter Name': {1: 'آل عمران', 2: 'الأحزاب', 3: 'محمد', 4: 'الفتح'}, 'Chapter Number': {1: 3, 2: 33, 3: 47, 4: 48}, 'Verse Number': {1: 144, 2: 40, 3: 2, 4: 29}, 'Arabic Text': {1: 'وما محمد الا رسول قد خلت من قبله الرسل افان مات او قتل انقلبتم على اعقابكم ومن ينقلب على عقبيه فلن يضر الله شيئا وسيجزي الله الشاكرين', 2: 'ما كان محمد ابا احد من رجالكم ولكن رسول الله وخاتم النبيين وكان الله بكل شيء عليما', 3: 'والذين آمنوا وعملوا الصالحات وآمنوا بما نزل على محمد وهو الحق من ربهم كفر عنهم سيئاتهم واصلح بالهم', 4: 'محمد رسول الله والذين معه اشداء على الكفار رحماء بينهم تراهم ركعا سجدا يبتغون فضلا من الله ورضوانا سيماهم في وجوههم من اثر السجود ذلك مثلهم في التوراة ومثلهم في الانجيل كزرع اخرج شطاه فآزره فاستغلظ فاستوى على سوقه يعجب الزراع ليغيظ بهم الكفار وعد الله الذين آمنوا وعملوا الصالحات منهم مغفرة واجرا عظيما'}}

In [36]:
arabic

{'Chapter Name': {1: 'آل عمران', 2: 'الأحزاب', 3: 'محمد', 4: 'الفتح'},
 'Chapter Number': {1: 3, 2: 33, 3: 47, 4: 48},
 'Verse Number': {1: 144, 2: 40, 3: 2, 4: 29},
 'Arabic Text': {1: 'وما محمد الا رسول قد خلت من قبله الرسل افان مات او قتل انقلبتم على اعقابكم ومن ينقلب على عقبيه فلن يضر الله شيئا وسيجزي الله الشاكرين',
  2: 'ما كان محمد ابا احد من رجالكم ولكن رسول الله وخاتم النبيين وكان الله بكل شيء عليما',
  3: 'والذين آمنوا وعملوا الصالحات وآمنوا بما نزل على محمد وهو الحق من ربهم كفر عنهم سيئاتهم واصلح بالهم',
  4: 'محمد رسول الله والذين معه اشداء على الكفار رحماء بينهم تراهم ركعا سجدا يبتغون فضلا من الله ورضوانا سيماهم في وجوههم من اثر السجود ذلك مثلهم في التوراة ومثلهم في الانجيل كزرع اخرج شطاه فآزره فاستغلظ فاستوى على سوقه يعجب الزراع ليغيظ بهم الكفار وعد الله الذين آمنوا وعملوا الصالحات منهم مغفرة واجرا عظيما'}}

In [37]:
quran = pd.read_csv("quran.csv")

In [38]:
quran.head()

,Unnamed: 0,Chapter Name,Chapter Number,Verse Number,Arabic Text
0,0,الفاتحة,1,1,بسم الله الرحمن الرحيم
1,1,الفاتحة,1,2,الحمد لله رب العالمين
2,2,الفاتحة,1,3,الرحمن الرحيم
3,3,الفاتحة,1,4,مالك يوم الدين
4,4,الفاتحة,1,5,إياك نعبد وإياك نستعين

In [39]:
del quran['Unnamed: 0']

In [40]:
quran.head()

  Chapter Name  Chapter Number  Verse Number             Arabic Text
0      الفاتحة               1             1  بسم الله الرحمن الرحيم
1      الفاتحة               1             2   الحمد لله رب العالمين
2      الفاتحة               1             3           الرحمن الرحيم
3      الفاتحة               1             4          مالك يوم الدين
4      الفاتحة               1             5  إياك نعبد وإياك نستعين

In [41]:
chapter = list(arabic['Chapter Number'].values())
verse = list(arabic['Verse Number'].values())

In [42]:
chapter

[3, 33, 47, 48]

In [111]:
string = {}
d, c_name, c_number, v_number, a_text = {}, {}, {}, {}, {}
for i in range(len(chapter)):
    q = quran.loc[(quran['Chapter Number'] == chapter[i]) & (quran['Verse Number'] == verse[i])]
    c_name[i+1], c_number[i+1], v_number[i+1], a_text[i+1] = q['Chapter Name'].item(), q['Chapter Number'].item(), q['Verse Number'].item(), q['Arabic Text'].item()

In [112]:
d['Chapter Name'], d['Chapter Number'], d['Verse Number'], d['Arabic Text'] = c_name, c_number, v_number, a_text

In [113]:
d

{'Chapter Name': {1: 'آل عمران', 2: 'الأحزاب', 3: 'محمد', 4: 'الفتح'},
 'Chapter Number': {1: 3, 2: 33, 3: 47, 4: 48},
 'Verse Number': {1: 144, 2: 40, 3: 2, 4: 29},
 'Arabic Text': {1: 'وما محمد إلا رسول قد خلت من قبله الرسل ۚ أفإن مات أو قتل انقلبتم على أعقابكم ۚ ومن ينقلب على عقبيه فلن يضر الله شيئا ۗ وسيجزي الله الشاكرين',
  2: 'ما كان محمد أبا أحد من رجالكم ولكن رسول الله وخاتم النبيين ۗ وكان الله بكل شيء عليما',
  3: 'والذين آمنوا وعملوا الصالحات وآمنوا بما نزل على محمد وهو الحق من ربهم ۙ كفر عنهم سيئاتهم وأصلح بالهم',
  4: 'محمد رسول الله ۚ والذين معه أشداء على الكفار رحماء بينهم ۖ تراهم ركعا سجدا يبتغون فضلا من الله ورضوانا ۖ سيماهم في وجوههم من أثر السجود ۚ ذلك مثلهم في التوراة ۚ ومثلهم في الإنجيل كزرع أخرج شطأه فآزره فاستغلظ فاستوى على سوقه يعجب الزراع ليغيظ بهم الكفار ۗ وعد الله الذين آمنوا وعملوا الصالحات منهم مغفرة وأجرا عظيما'}}

In [71]:
string[0]

,Chapter Name,Chapter Number,Verse Number,Arabic Text
436,آل عمران,3,144,وما محمد إلا رسول قد خلت من قبله الرسل ۚ أفإن ...

In [85]:
ar = pd.DataFrame(arabic)

In [87]:
ar.index

,Chapter Name,Chapter Number,Verse Number,Arabic Text
1,آل عمران,3,144,وما محمد الا رسول قد خلت من قبله الرسل افان ما...
2,الأحزاب,33,40,ما كان محمد ابا احد من رجالكم ولكن رسول الله و...
3,محمد,47,2,والذين آمنوا وعملوا الصالحات وآمنوا بما نزل عل...
4,الفتح,48,29,محمد رسول الله والذين معه اشداء على الكفار رحم...

In [67]:
combine = quran.loc[(quran['Chapter Number'].isin(chapter)) & (quran['Verse Number'].isin(verse))]

,Chapter Name,Chapter Number,Verse Number,Arabic Text
1,آل عمران,3,144,وما محمد الا رسول قد خلت من قبله الرسل افان ما...
2,الأحزاب,33,40,ما كان محمد ابا احد من رجالكم ولكن رسول الله و...
3,محمد,47,2,والذين آمنوا وعملوا الصالحات وآمنوا بما نزل عل...
4,الفتح,48,29,محمد رسول الله والذين معه اشداء على الكفار رحم...

In [69]:
combine

,Chapter Name,Chapter Number,Verse Number,Arabic Text
1,الفاتحة,1,2,الحمد لله رب العالمين
8,البقرة,2,2,ذلك الكتاب لا ريب ۛ فيه ۛ هدى للمتقين
35,البقرة,2,29,هو الذي خلق لكم ما في الأرض جميعا ثم استوى إلى...
46,البقرة,2,40,يا بني إسرائيل اذكروا نعمتي التي أنعمت عليكم و...
150,البقرة,2,144,قد نرى تقلب وجهك في السماء ۖ فلنولينك قبلة ترض...
...,...,...,...,...
6214,النصر,110,2,ورأيت الناس يدخلون في دين الله أفواجا
6217,المسد,111,2,ما أغنى عنه ماله وما كسب
6222,الإخلاص,112,2,الله الصمد
6226,الفلق,113,2,من شر ما خلق
6231,الناس,114,2,ملك الناس